<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Video Link</h2>
<ol>
<li><a href="https://youtu.be/y72Dq3GRxhc" target="_blank">Intro</a></li>
<li><a href="https://youtu.be/Z4caY2YtQLY" target="_blank">Database creation with mongoDB - instructions using clusters on mongodb site</a></li>
<li><a href="https://youtu.be/bNg9AcVPdHo" target="_blank">Create the flask application</a></li>
<p>pip3 install Flask </p> <p>also creating initial files in python etc git ignore etc.</p>
<p>kill flask instances on a terminal <pre>pkill -9 python3</pre></p>
<li><a href="https://youtu.be/YfQIUSuPm2w" target="_blank"> Deploy The Application To Heroku
</a></li>
<p>Before we create our Heroku application, we need to setup some files that Heroku needs
to run the app.
First, we need to tell Heroku which applications and dependencies are required to run our app:</p>
<pre>"pip3 freeze --local > requirements.txt".</pre> <p>Next, the Procfile is what Heroku looks for to know which file runs the app, and how to
run it, so we'll use the echo command: <pre> "echo web: python app.py > Procfile".</pre> </p>
<p>this video goes through steps on connecting github to heroku procfile, requirements in order to allow heroku to build the app. IMPORTANT steps.</p>
<li><a href="https://youtu.be/TM0QBh_vx1U" target="_blank"> Connect Flask To MongoDB Atlas
</a></li>
<p>wirign up flask with mongo, using third party library. called 'flask-pymongo'.</p>
<pre> pip3 install flask-pymongo</pre>
<p>We also need to install a package called 'dnsython' in order to use the Mongo SRV connection string.</p>
<pre>pip3 install dnspython </pre>
<h4>NOTE</h4>
<p>It's important to remember that whenever you install new packages, you must update the
requirements.txt file so that Heroku knows we require more to run the app.</p>
<pre>pip3 freeze --local > requirements.txt </pre>
<p>making the templates folder </p>
<pre>mkdir templates</pre>
<pre>touch templates/tasks.html</pre>
<p>We'll use the Jinja templating language to loop through each task item from within our
collection.
<pre>
{% for task in tasks %}</pre> <p> and to end block:</p>  <pre>{% endfor %}.</pre> It's alway good to supply any closing tags</p>

<li><a href="https://youtu.be/oeOg4CTPLPE" target="_blank"> Template Inheritance
</a></li>
<p>creating the template / refactoring - parent template</p>
<p>we need to create a new file within the templates directory called "base.html".
The base template will contain all main references to our external files and third-party libraries,
for JavaScript and CSS, that we'll use across the entire application.</p>
<p>fucntions of a base template is so that we dont have to repeat ourselves.</p>

<p>inside the base template- we can call block -content anything just extend it using block content_more_content for example</p>

<pre>{% block content %}
    {% endblock %}</pre>


<p>inside of the tasks page we extned using.... In order to display this from within our base template, we need to extend this file from
the base.html, wrapped in quotes.</p>

<pre>{% extends "base".html" %}</pre>
<pre>{% block content %} </pre>



<li><a href="https://youtu.be/7R0qJ7QJ2-U" target="_blank">  Materialize & Static Files Setup

</a></li>

<li><a href="https://youtu.be/ZuGHgV3oFFM" target="_blank">  Adding A Nav Bar</a></li>


<li><a href="https://youtu.be/r4qlVU20Aoc" target="_blank">   Creating The Registration Page
</a></li>
<p>creating user authentication using the dependencies; Werkzeug</p>

</ol>


<li><a href="https://youtu.be/Sfkg3358Igc" target="_blank"> Adding Registration Functionality
</a></li>
<p>Hashing, using salted passwords, user registration added to mongoDB</p>


<li><a href="https://youtu.be/KzReYjMAgn8" target="_blank">  Login Functionality

</a></li>

<p>first copy registration page using in the terminal: </p>
<pre>cp templates/register.html templates/login.html </pre>
<p>The 'cp' command, as you know, makes a 'copy'.</p>

</body>
</html>